:root{
  --bg-color: #f1f1f1;
  --color: #1f1f1f;
  --dark-bg-color: #1f1f1f;
  --dark-color: #f1f1f1;
  font-family: Helvetica, sans-serif;
}

.dark-theme{
  --bg-color: var(--dark-bg-color);
  --color: var(--dark-color);
}

@media (prefers-color-scheme:dark) {
  :root{
    --bg-color: var(--dark-bg-color);
    --color: var(--dark-color);
  }
  .dark-theme{
    --bg-color: var(--bg-color);
    --color: var(--color);
  }
}



body{
  background-color: var(--bg-color);
  color: var(--color);
}

.imageContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.imageContainer img{
  max-width: 350px;
}